.hack-carousel {
  display: flex;
  flex-direction: row;
  // overflow: auto;
}
.hack-card {
  flex: 0 0 calc(100vmin / 3);
  min-height: 30vmin;
  border: 1px solid;
  padding: 1em;
  margin: 1em;
  transition: .85s cubic-bezier(0.8, -0.4, 0.2, 1.5);
  &.active {
    background: #fff;
    transform: scale(2);
    box-shadow: 0 .65em 3em -.5em;
  }
  &:empty {
    border: 0;
    flex: 0 0 50vmin;
  }
}
