@import 'base';
@import 'colors';
@import 'carousel';

.tweet-container {

  .tweet {
    opacity:0;

    position: absolute;
    left: 15%;
    margin-top: 5%;
    margin-right: 15%;
    transition: opacity 2.0s ease-in-out;
    -moz-transition: opacity 2.0s ease-in-out;
    -webkit-transition: opacity 2.0s ease-in-out;

    .text {
      display: block;
      text-align: justify;
      font-size: 4.0em;
      margin-bottom: 0.4em;
    }
    .name {
      margin-top: 1%;
      font-size: 2.5em;
    }

    .time {
      font-size: 2.5em;
    }

    .image {
      padding-right: 0.2em;
    }
  }

}
